@charset "UTF-8";

/* #wrap {} */

/* header 영역 */
#header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    position: fixed;
    left: 0;top: 0;
    z-index: 100;
}

.head_inner {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    overflow: hidden;
}

.logo {
    float: left;
}

.logo a {
    display: block;
    font-size: 30px;
    color: #3f51b5;
    /* border: 1px solid red; */
}

.nav {
    float: right;
}

/* .main {} */

.main li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 5px;
}

.main li a {
    font-size: 18px;
    font-weight: 500;
    color: #3f51b5;
    text-transform: capitalize;
}

.main li a:hover {
    color: #2b398c;
}

.m_btn{
    display: none;
}

.m_nav{
    display: none;    
    color: rgba(0,0,0,0);
}


/* visual 영역 */
.visual {
    height: 697px;
    margin-top: 90px;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider li {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider li.sl_01 {
    background-image: url("../img/slide01.jpg");   
}

.slider li.sl_02 { background-image: url("../img/slide02.jpg"); }

.slider li.sl_03 { background-image: url("../img/slide03.jpg"); }

.slider_rel {
    width: 100%;
    height: 100%;
    /* background: rgba(255,255,255,.5); */
    position: relative;
}

.slider_rel h2 {
    font-size: 150px;
    color: white;
    text-transform: capitalize;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    

}

.slider li.sl_01 h2{
    left: calc(50% - 600px);
}
.slider li.sl_02 h2{
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider li.sl_03 h2{
    right: calc(50% - 600px);
}

/* we are 영역 */
.content{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.weare{
    padding-top: 100px;
}

.sec_title{
    font-size: 44px;
    color: #3f51b5;
    font-weight: normal;
    /* border: 1px solid red; */
    float: left;
}
.cont_box{
    color: #666;
    padding-left: 20px;
    float: right;
    /* border: 1px solid black; */
    width: 50%;
    line-height: 1.5;
    position: relative;
}

.cont_box::before{
    content: "";
    display: block;
    width: 2px;
    height: 50px;
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 12px;
}

.weare_2{
    margin: 120px 0;
}

/* .weare_list{} */

.weare_list li{
    float: left;
    width: calc(100% / 4);
    padding: 0 20px;
    text-align: center;
}

/* .weare_list li a{} */

.weare_list li a img{
    height: 52px;    
}

.weare_list li a h3{
    color: #3f51b5;
    margin: 30px 0 20px;
}

.weare_list li a p{
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

/* 워크 영역 */

.work{
    width: 90%;
    max-width: 1200px;
    margin: 100px auto 0;
}

.work_list{
    overflow: hidden;
    margin-bottom: 100px;
}

.work_list li{
    float: left;
    width: 25%;
}

.work_list li a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    }

.work_list li a .info{
    position: absolute;
    left: 40px;
    top: 0;
    /* background-color: aqua; */
    transition: all 0.3s;
    opacity: 0;
}
.work_list li a:hover .info{
    top: 30px;
    opacity: 1;
}

.work_list li a .info h3{
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 black;
}

.work_list li a .info span{
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 0 black;
}

.work_list li a img{
    display: block;
    width: 100%;
    height: 100%;
}

.work_list li a::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(65,81,181,0.6);
    position: absolute;
    top: 0;
    left: 0;    
    opacity: 0;
    transition: all 0.3s;
}
.work_list li a:hover::before{
    opacity: 1;
}

.divider{
    width: 20px;
    background-color: #3f51b5;
    margin: 0 auto 80px;
}


/* 블로그 영역  */

.blog_content{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
}

/* .blog{} */
.blog_list{
    float: right;
    width: 75%;
}
.blog_list li{
    float: left;
    width: calc(100% / 3 - 24px);
    margin-left: 36px;
    /* border: 1px solid red; */
}
.blog_list li:first-child{margin-left: 0 !important;}

.blog_list li img{width: 100%;}

.blog_list li time{
    display: block;
    margin: 10px 0;
    font-size: 11px;
    color: #999;
}

.blog_list li .blog_txt{
    color: #444;
    line-height: 1.6;
    font-size: 18px;
}


/* contact영역 */
.contact_content{
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
}
/* .contact{} */

.form_box{
    float: right;
    width: 75%;
}
.send_btn{
    text-align: right;
}
.send_btn input{
    background-color: #3f51b5;
    color: white;
    padding: 15px;
    cursor: pointer;
    width: auto;
    border: none;
}

.form1{
    float: left;
    width: 49%;
}
.form1 input{
    margin-bottom: 40px;
    padding-bottom: 15px;
}

.textarea{
    float: right;
    width: 49%;
}
.textarea textarea{
    height: 175px;
}


/* 지도 영역  */

.map{
    display: block;
    width: 100%;
    height: 430px;
}

/* 푸터영역 */

#footer{
    text-align: center;
    background-color: #ddd;
    padding: 20px 0;
    color: #3f51b5;
    border-top: 2px solid white;
}
/* #footer p{} */



